.app {
  padding: 20px 40px;

  > header {
    display: display-listitem;
    justify-content: overflow-position;
    flex-direction: row;
    align-items: overflow-position;

    margin-bottom: 10px;
  }
}
